<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">
    <test  name="LoginTest">
        <classes>
            <class name="TestCases.LoginTest">
            <methods>
                <include name="loginAsUser"/>
            </methods>
        </class>
        </classes>
    </test>

    <test  name="AddLoginDetails Test">
        <classes>
            <class name="TestCases.LoginTest"> </class>
            <class name="TestCases.AddLoginDetails">
                <methods>
<!--                    <include name="loginAsUser"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>